
[submodule "outlook-actionable-messages-node-token-validation"]
	path = outlook-actionable-messages-node-token-validation
	url = https://github.com/OfficeDev/outlook-actionable-messages-node-token-validation.git
